#!/usr/bin/make -f


CARGO_HOME="${CURDIR}/.cargodir"
export CARGO_HOME="${CURDIR}/.cargodir"
export SSL_CERT_FILE=/etc/ssl/certs/ca-certificates.crt

%:
	dh $@


override_dh_auto_build:
	mkdir -p $$CARGO_HOME
	cargo update
	cargo build --release
	cargo install --root ${CURDIR}/debian/afirmflasher/usr
